@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

body {
  background-color: #F9F5E9;
  font-family: 'Inter', sans-serif;
  color: #1a1a1a;
  -webkit-font-smoothing: antialiased;
}

/* Custom Smooth Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #F9F5E9;
}
::-webkit-scrollbar-thumb {
  background: #8B4513;
  border-radius: 10px;
}